<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="5">

    <listeners>
        <listener class-name="listeners.TestNGListeners"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="UltimateQaTests">
        <classes>
            <class name="tests.Tests">
                <methods>
                    <include name="register"/>
                    <include name="validLogin"/>
                    <include name="invalidLogin"/>
                    <include name="watchReactVideo"/>
                    <include name="resetPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>